import React from 'react';
// import {  } from '@material-ui/core';
// import { Component } from './{{ name }}.style';

export interface {{name}}Props {
    children?: React.ReactNode;
}

const {{name}}: React.FC<{{name}}Props> = () => {
    return (
        <div>
            <div>{{name}}</div>
        </div>
    );
};

export default {{name}};
